.hero-detail{
    box-shadow: 0px 0px 3px gray;
    border: 4px solid #39EE2A;
}

.hero-detail-body{
    display: flex;
    padding: 10px 10%;
    box-sizing: border-box;
}

.hero-detail-body img{
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    flex: 1;
    margin-right: 10px;
}

.hero-info{
    margin-left: 10px;
    flex: 1;
}
.hero-info p {
    font-size: 22px;
    margin-bottom: 10px;
}

h1{
    font-size: 40px;
    color: white;
}

h2{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: #39EE2A;
    height: 40px;
    align-items: center;
    justify-content: center;
}

br{
    content:"";
    display: block;
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.footer{
    width: 100%;
    padding-left: 10%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    max-width: 80px;
    background: linear-gradient(to left, #29EE8C, #1BEED0);
    height: 40px;
}

.task{
    display: inline-block;
    background-color: yellow;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
